.error-container {
  text-align: center;
  padding: 20px;
  background-color: #ffd6da;
  border: 1px solid #ffd6da;
  border-radius: 5px;
  margin: 20px;
  color: #c5000f;
}

.error-container h1 {
  color: #c5000f;
}

.error-container p {
  color: #c5000f;
}
