

.interpretation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.interpretation-content {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-info {
  margin-top: 20px;
}

.result-info p {
  margin: 5px 0;
  font-size: 16px;
}
