.questions-container {
  width: 80%; /* ajustează lățimea containerului întrebărilor */
  margin: 0 auto; /* centrează containerul întrebărilor pe pagină */
}

.questions-title {
  text-align: center;
}

.questions-content {
  margin-bottom: 20px; /* spațiu între întrebări și paginare */
}

.email-input {
  margin-bottom: 20px; /* spațiu între caseta de email și prima întrebare */
}

.timer-container {
  position: fixed;
  top: 20px; /* ajustează distanța de la marginea de sus a ecranului */
  right: 20px; /* ajustează distanța de la marginea din dreapta a ecranului */
  background-color: rgba(255, 255, 255, 0.8); /* culoare de fundal semi-transparentă */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* umbra sub timer */
}

.timer-text {
  margin: 0;
}

.pagination-container {
  text-align: center;
  margin-top: 20px; /* spațiu între paginare și marginea de jos a containerului întrebărilor */
}

.pagination-text {
  margin-right: 10px; /* spațiu între text și butoanele de paginare */
}

.next-page-button {
  margin-right: 10px; /* spațiu între butoanele de paginare */
}

.submit-button {
  background-color: #007bff; /* culoare buton trimite */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; /* culoare buton trimite la hover */
}
