.custom-button,
.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover,
.search-button:hover {
  background-color: #0056b3;
}
.stergere {
  background-color: #ff0025;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.stergere:hover {
  background-color: #960004;
}
.actualizare {
  background-color: #ff9100;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.actualizare:hover {
  background-color: #bb6b02;
}
.custom-cell {
  text-align: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}
