/* HomePage.css */

/* Stilizare pentru containerul paginii de start */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Stilizare pentru conținutul paginii de start */
.home-content {
  text-align: center;
}

/* Stilizare pentru titlul paginii */
.home-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #333; /* Culoare text */
}

/* Stilizare pentru butonul de start */
.start-button {
  background-color: #007bff; /* Albastru */
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-button:hover {
  background-color: #0056b3; /* Nuanță mai închisă de albastru la hover */
  transform: scale(1.05); /* Mărire ușoară la hover */
}

/* Stilizare pentru butonul de informații */
.info-button {
  background-color: #007bff; /* Albastru */
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.info-button:hover {
  background-color: #0056b3; /* Nuanță mai închisă de albastru la hover */
  transform: scale(1.05); /* Mărire ușoară la hover */
}
