.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input,
.input-container label {
  margin-bottom: 10px;
}

.input-container input[type="text"],
.input-container input[type="number"] {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.input-container input[type="text"]:focus,
.input-container input[type="number"]:focus {
  border-color: #4CAF50;
}

.input-container button {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #45a049;
}

.intrebare-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.edit-fields label {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.edit-fields input[type="text"],
.edit-fields input[type="number"] {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.edit-fields input[type="text"]:focus,
.edit-fields input[type="number"]:focus {
  border-color: #4CAF50;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit-buttons button {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.edit-buttons button:hover {
  background-color: #45a049;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
