/* Setarea fundalului pentru întreaga pagină */
body {
  background-color: #afafaf; /* Nuanță de gri pentru fundalul paginii */
}

/* Container styles */
.questions-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e0e0e0; /* Nuanță de gri pentru fundalul containerului */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title styles */
.questions-title {
  font-size: 36px;
  text-align: center;
  background-color: #e0e0e0;
  margin-bottom: 30px;
  color: #333;
}

/* Email input styles */
.email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.email-label {
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.email-input-field {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.validation-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #757575; /* Nuanță de gri pentru butonul de validare */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.validation-button:hover {
  background-color: #424242; /* Nuanță de gri mai închis pentru hover */
}

.question-container {
  border: 1px solid #888787;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
  transition: transform 0.3s ease; /* Adaugă o tranziție pentru proprietatea transform */
}

/* Adaugă un efect de hover pentru a mări containerul */
.question-container:hover {
  transform: scale(1.05); /* Mărește containerul la 105% din dimensiunea originală */
}

/* Response label styles */
.response-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50px; /* Modificăm border-radius pentru a face butoanele radio rotunde */
  padding: 15px; /* Mărim puțin padding-ul pentru a face butoanele mai spațioase */
  background-color: #e0e0e0; /* Nuanță de gri pentru butoanele radio */
}

.custom-radio {
  width: 30px; /* Mărimea butonului radio */
  height: 30px; /* Mărimea butonului radio */
  border-radius: 50%; /* Face butonul radio rotund */
  border: 3px solid #007bff; /* Mărim grosimea border-ului */
  margin-right: 15px; /* Mai mult spațiu între buton și text */
}

/* Timer styles */
.timer-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-text {
  font-size: 14px;
  margin: 0;
  color: #333;
}

/* Pagination styles */
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.pagination-text {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.pagination-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-page-button,
.submit-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #757575; /* Nuanță de gri pentru butoane */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.next-page-button:hover,
.submit-button:hover {
  background-color: #424242; /* Nuanță de gri mai închis pentru hover */
}

.submit-container {
  margin-left: auto;
}
